<%- include("partials/header"); -%>
    <h1>About Me</h1>
    <p> <%= contactContent %> <a href="https://nascentliu.github.io/My-Personal-Site/" target="_blank" rel="noopener noreferrer">here</a> to see more details.</p>
<%- include("partials/footer"); -%>
